@model IEnumerable<HealthSoft.WebApp.Models.PatientViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h1>Patients</h1>

<p>
    <a asp-action="Create">Add Patient</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink(
                             "Delete",
                             "Delete",
                             new { id = item.Id },
                             new
                             {
                                 @class = "delete-link",
                                 onclick = $"return confirm('Are you sure you want to delete {item.Name}?')"
                             }
                             )
            </td>
        </tr>
}
    </tbody>
</table>
