@model IEnumerable<HealthSoft.WebApp.Models.AppointmentsModel>

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h1>Active Appointments</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                    @Html.ActionLink("Cancel", "Cancel", new { id = item.Id }, new { @class = "delete-link", onclick = "return confirm('Are you sure you want to cancel this appintment?')" })
            </td>
        </tr>
}
    </tbody>
</table>
